# Table of Contents
#### 1. Importing Libraries
#### 2. Importing Data
#### 3. Question 5 continued: create profiling variables
#### 3.1 Creating a dependent flag
#### 3.2 Creating a family grouping
#### 3.3 Department profile

## 1. Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

## 2. Importing Data

In [2]:
path = r'C:\Users\bees\Instacart Basket Analysis'

In [3]:
active_customers = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'df_active_customers.pkl'))

In [4]:
df_departments = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'departments_wrangled.csv'))

## 3. Question 5 continued:
#### create profiling variables

In [5]:
# checking the departments df
df_departments.head()

   Unnamed: 0 department
0           1     frozen
1           2      other
2           3     bakery
3           4    produce
4           5    alcohol

In [6]:
# renaming 'Unnamed: 0' to 'department_id'
df_departments.rename(columns = {'Unnamed: 0' : 'department_id'}, inplace = True)

In [7]:
df_departments.head()

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [8]:
# merging the dfs using department_id as key
active_departments_merged = active_customers.merge(df_departments, on = 'department_id')

In [9]:
active_departments_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,age,date_joined,number_of_dependants,marital_status,income,region,customer_activity,age_flag,income_flag,department
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,31,2/17/2019,3,married,40423,South,active customer,30-49 years old,Low income,beverages
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,31,2/17/2019,3,married,40423,South,active customer,30-49 years old,Low income,beverages
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,31,2/17/2019,3,married,40423,South,active customer,30-49 years old,Low income,beverages
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,31,2/17/2019,3,married,40423,South,active customer,30-49 years old,Low income,beverages
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,31,2/17/2019,3,married,40423,South,active customer,30-49 years old,Low income,beverages

In [10]:
pd.set_option('display.max_columns', None)

In [11]:
# exporting df
active_departments_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'active_customers_departments_merged.pkl'))

## 3.1 Creating a dependent flag

In [12]:
active_departments_merged['number_of_dependants'].describe()

count    3.096456e+07
mean     1.501819e+00
std      1.118896e+00
min      0.000000e+00
25%      1.000000e+00
50%      2.000000e+00
75%      3.000000e+00
max      3.000000e+00
Name: number_of_dependants, dtype: float64

In [13]:
active_departments_merged['number_of_dependants'].value_counts().sort_index()

number_of_dependants
0    7739681
1    7719106
2    7733261
3    7772516
Name: count, dtype: int64

In [14]:
# creating flag for no dependants
active_departments_merged.loc[active_departments_merged['number_of_dependants'] == 0, 'dependant_flag'] = 'No dependants'

In [15]:
# creating flag for dependants
active_departments_merged.loc[active_departments_merged['number_of_dependants'] > 0, 'dependant_flag'] = 'Has dependants'

In [16]:
active_departments_merged['dependant_flag'].value_counts()

dependant_flag
Has dependants    23224883
No dependants      7739681
Name: count, dtype: int64

In [17]:
active_departments_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_label,busiest_day,busiest_period_of_day,max_order,loyalty_flag,mean_order,spending_flag,median_order,order_frequency_flag,gender,state,age,date_joined,number_of_dependants,marital_status,income,region,customer_activity,age_flag,income_flag,department,dependant_flag
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,active customer,30-49 years old,Low income,beverages,Has dependants
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,active customer,30-49 years old,Low income,beverages,Has dependants
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,active customer,30-49 years old,Low income,beverages,Has dependants
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,Mid-range product,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,active customer,30-49 years old,Low income,beverages,Has dependants
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,Mid-range product,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer,Female,Alabama,31,2/17/2019,3,married,40423,South,active customer,30-49 years old,Low income,beverages,Has dependants

## 3.2 Creating family grouping

In [18]:
active_departments_merged['number_of_dependants'].value_counts().sort_index()

number_of_dependants
0    7739681
1    7719106
2    7733261
3    7772516
Name: count, dtype: int64

In [19]:
cross_fam_dependant = pd.crosstab(active_departments_merged['marital_status'], active_departments_merged['number_of_dependants'], dropna = False)

In [20]:
cross_fam_dependant

number_of_dependants                    0        1        2        3
marital_status
divorced/widowed                  2645271        0        0        0
living with parents and siblings        0   508045   484658   488469
married                                 0  7211061  7248603  7284047
single                            5094410        0        0        0

looking at the crosstab the next grouping will be
        
        
    -single without dependants (including divorced/widowed)
    
    -single with dependants (including living with parents/siblings)
    
    -married with dependants

In [21]:
# creating single without dependents 
active_departments_merged.loc[active_departments_merged['marital_status'].isin(['divorced/widowed', 'single']), 'family_profile'] = 'Single without dependants'

In [22]:
# creating single with dependants
active_departments_merged.loc[active_departments_merged['marital_status'] == 'living with parents and siblings', 'family_profile'] = 'Single with dependants'

In [23]:
# creating maried with dependants
active_departments_merged.loc[active_departments_merged['marital_status'] == 'married', 'family_profile'] = 'Married with dependants'

In [24]:
active_departments_merged['family_profile'].value_counts(dropna = False)

family_profile
Married with dependants      21743711
Single without dependants     7739681
Single with dependants        1481172
Name: count, dtype: int64

## 3.3 Department profile

In [25]:
active_departments_merged['department'].value_counts(dropna = False)

department
produce            9079273
dairy eggs         5177182
snacks             2766406
beverages          2571901
frozen             2121731
pantry             1782705
bakery             1120828
canned goods       1012074
deli               1003834
dry goods pasta     822136
household           699857
meat seafood        674781
breakfast           670850
personal care       424306
babies              410392
international       255991
alcohol             144627
pets                 93060
missing              64768
other                34411
bulk                 33451
Name: count, dtype: int64

In [26]:
# exporting for next part of 4.10 task
active_departments_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'df_final.pkl'))

### continued on 4.10 IC Coding Etiquette part 3